* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffffa8;
    line-height: 1.9;
    background-color: #1F2532;
    overflow-x: hidden;
}

img {
    transition: filter 0.5s;
}

.section {
    padding: 9rem 3rem;
    transition: transform 1s, opacity 1s;
}

.nav {
    display: flex;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .09);
    justify-content: center;
    align-items: center;
    height: 9rem;
    width: 100%;
    font-size: 1.7rem;
    z-index: 100;
}

.nav-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.nav.sticky {
    position: fixed;
    background-color: rgba(31, 37, 50, 0.95);
}

.name-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .nav h3 {
    width: 100%;
    font-size: 1.8rem;
    transition: all 0.3s;
    margin-left: 6rem;
    text-align: justify;
}

.nav__links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 6rem;
}

.nav__links li a:hover {
    color: #860000;
}

.nav__item {
    margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
    color: inherit;
    text-decoration: none;
    display: flex;
    transition: 0.3s;
}

/* Mobile */

.btn-mobile-nav {
    margin-left: 4rem;
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 4.125rem;
    width: 3.125rem;
    filter: invert(100%) sepia(51%) saturate(512%) hue-rotate(348deg) brightness(124%) contrast(95%);
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

/* Hero */
.header {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}

.github-img-container {
    width: 3rem;
    height: 3rem;
}

#github-link {
    text-decoration: none;
}

#github-link img {
    width: 3rem;
    height: 3rem;
    transition: filter 0.3s ease;
}

#github-link img:hover {
    filter: invert(10%) sepia(89%) saturate(3711%) hue-rotate(353deg) brightness(85%) contrast(113%);
}

.linkedin-img-container {
    width: 3rem;
    height: 3rem;
}

#linkedin-link {
    text-decoration: none;
}

#linkedin-link img {
    width: 3rem;
    height: 3rem;
    transition: filter 0.3s ease;
}

#linkedin-link img:hover {
    filter: invert(10%) sepia(89%) saturate(3711%) hue-rotate(353deg) brightness(85%) contrast(113%);
}

.hero-information {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
}

.hero-flex {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    width: 107rem;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 13rem 0 0 1.7rem;
}

.hero-img {
    width: 38rem;
    height: 29rem;
    border-radius: 100%;
}

.hero-text h1 {
    font-size: 5.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.hero-text p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}

.hero-socials {
    background-color: #1F2532;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin: 2.5rem 0;
    gap: 1.3rem;
}

h2 {
    text-align: center;
    font-size: 2.8em;
}

hr {
    border: 0;
    height: 0.1rem;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}

.python-img {
    width: 8.4rem;
    border-radius: 1rem;
}

.html-img {
    width: 8.4rem;
    border-radius: 1rem;
}

.css-img {
    width: 8.4rem;
    border-radius: 1rem;
}

.js-img {
    width: 8.4rem;
    border-radius: 1rem;
}

.postgresql-img {
    width: 8.4rem;
    border-radius: 1rem;
}

.tech-stack-grid {
    display: grid;
    grid-template-columns: repeat(5, 20.00%);
    justify-items: center;
    margin-top: 2.5rem;
}

.python-img-grid {
    grid-column-start: 1;
}

.html-img-grid {
    grid-column-start: 3;
}

.css-img-grid {
    grid-column-start: 4;
}

.js-img-grid {
    grid-column-start: 2;
}

.postgresql-img-grid {
    grid-column-start: 5;
}

/* Projects section */
.projects {
   /* height: 100vh; */
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 2.5rem;
    gap: 1.5rem;
    padding-block: 2rem;
    margin-inline: auto;
}

.project {
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    border-radius: 1rem;
    display: block;
}

.layer {
    width: 100%;
    height: 0;
    background: rgba(31, 37, 50, 0.95);
    border-radius: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
    text-align: center;
    font-size: 1.4rem;
    transition: height 0.5s;
}

.layer h3 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.layer a {
    margin-top: 2rem;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 6rem;
    background-color: #ffffffa8;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.layer img {
    width: 4rem;
    height: 4rem;
}

.links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;

}

.project:hover .layer {
    height: 100%;
}

footer {
    padding: 2.1rem 3rem;
    background-color: #ffffffa8;
}

.footer-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

footer h2 {
    justify-self: left;
    color: #1F2532;
    font-size: 2rem;
    font-weight: bold;
}

.footer-mail {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

footer img {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
}

footer p {
    color: #1F2532;
    font-size: 1.8rem;
    font-weight: bold;
}